<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543576427736-6rfpfdh1p3o0bgsiccjfs3vimjm0pv6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543576427736-6rfpfdh1p3o0bgsiccjfs3vimjm0pv6e</string>
	<key>API_KEY</key>
	<string>AIzaSyCXRib1JwkCCwxvSgvJYvrueu6qwL7ee4w</string>
	<key>GCM_SENDER_ID</key>
	<string>543576427736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tms.DeviceMuseum</string>
	<key>PROJECT_ID</key>
	<string>devicemuseum</string>
	<key>STORAGE_BUCKET</key>
	<string>devicemuseum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543576427736:ios:ce996bc3b8cd87ee7f9bad</string>
</dict>
</plist>